<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">Sugar Tracker</h1>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input type = "hidden" class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Pages</h4>
                    <a class="btn-link" href="/">Home</a>
                    <a class="btn-link" href="/produits">Produits</a>
                    <a class="btn-link" href="/menu">Menu</a>
                    <a class="btn-link" href="/repas">Repas</a>
                    <a class="btn-link" href="/webmaster">Webmasters</a>
                    <a class="btn-link" href="https://www.youtube.com/watch?v=cj4oLPhLaTw" target="_blank" style="color: #45595b;">Easter egg</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Compte</h4>
                    <a class="btn-link" href="/compte">Mon compte</a>
                    {% if session["idUtilisateur"] %}
                        {% if session["admin"] == 1 %}
                        <a href="/admin" class="btn-link">Admin</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>7 Av. Edouard Belin, Toulouse</p>
                    <p>Email: sugartracker@gmail.com</p>
                    <p>Phone: +0123 4567 8910</p>
                </div>
            </div>
        </div>
    </div>
</div>