<!DOCTYPE html>
<html lang="en">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<head>
    {% set titre="Administrateur" %}
    {% include("layout/head.html") %}
</head>

<body>

    <!-- Navbar start -->
    {%include("layout/navbar.html")%}
    <!-- Navbar End -->


    <!-- Single Page Header start -->
    {% set nom_page="Admin" %}
    {% include("layout/breadcrumb.html") %}
    <!-- Single Page Header End -->


    <!-- Début affichage du tableau des membres -->
    
    <div style="justify-content: center; display: flex; margin-top: 50px;">
        <table class="table table-striped sortable">
            <tr>
                <th class="sorttable_nosort">Avatar</th>
                <th>Login</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Statut</th>
                <th class="sorttable_nosort">Supprimer</th>
            </tr>
            {% for membre in membres %}
            <tr>
                <td><img src="static/img/{{ membre.avatar }}.png" alt="Avatar" style="width: 35px;"></td>
                <td>{{ membre.login }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.mail }}</td>
                <td>
                    <form action="update_status" method="post">
                        <input type="hidden" name="id_membre" value="1">
                        <select name="nouveau_statut">
                            <option value="Gestionnaire">Gestionnaire</option>
                            <option value="Administrateur" selected>Administrateur</option>
                        </select>
                        <button type="submit">Modifier</button>
                    </form>
                </td>
                <td>
                    <form action="delete_member" method="post">
                        <input type="hidden" name="id_membre" value="{{ membre.idUtilisateur }}">
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Fin affichage du tableau des membres -->

    <!-- Footer Start -->
    {%include("layout/footer.html")%}
    <!-- Footer End -->

    <!-- JavaScript Libraries -->
    {% include("layout/script.html") %}
</body>

</html>
