<!DOCTYPE html>
<html lang="en">

    <head>
        {% set titre="Menu" %}
        {% include("layout/head.html") %}
    </head>

    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Spinner Start -->
        {% include("layout/spinner.html") %}
        <!-- Spinner End -->


        <!-- Navbar start -->
        {%include("layout/navbar.html")%}
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        {%include("layout/search.html")%}
        <!-- Modal Search End -->


        <!-- Single Page Header start -->
        {% set nom_page="Menu" %}
        {% include("layout/breadcrumb.html") %}
        <!-- Single Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Quantité de sucre (en g)</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Total (en g)</th>
                            <th scope="col">Supprimer</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for produit in produits_menu %}
                                <tr id="product-row-{{produit.idProduit}}">
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="static/img/{{ produit.image }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                        </div>
                                    </th>
                                    <td>
                                        <p class="mb-0 mt-4">{{ produit.nom_produit.replace('_', ' ') | capitalize  }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4" data-qtsucre="{{ produit.qtsucre }}">{{ produit.qtsucre }}</p>
                                    </td>
                                    <td>
                                        <div class="input-group quantity mt-4" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control form-control-sm text-center border-0 quantity-input" value="1" name = "quantity-input">
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0 mt-4 total" name = "total"></p>
                                    </td>
                                    <td>
                                        <button class="btn btn-md rounded-circle bg-light border mt-4 btn-delete" data-product-id="{{produit.idProduit}}">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="mt-5">
                    <input type="hidden" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
                </div>
                <div class="row g-4 justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">Total</h1>
                                <div class="d-flex justify-content-between mb-4">
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Quantité totale de sucre</h5>
                                <p class="mb-0 pe-4 total-sugar"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->


        <!-- Footer Start -->
        {%include("layout/footer.html")%}
        <!-- Footer End -->

        <!-- Copyright Start -->
        {%include("layout/copyright.html")%}
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    {% include("layout/script.html") %}
    <script>
                function calculateTotalSugar() {
            var totalSugar = 0;
            $('.total').each(function() {
                totalSugar += parseFloat($(this).text());
            });
            $('.total-sugar').text(totalSugar.toFixed(2) + " g");
        }
        $(document).ready(function() {
            // Fonction pour calculer et afficher le total
            function calculateTotal(quantityInput, totalElement, sugarQuantity) {
                var quantity = parseFloat(quantityInput.val());
                var total = quantity * sugarQuantity;
                totalElement.text(total.toFixed(2));
                return total;
            }
    

    
            // Calculer et afficher le total pour chaque produit au chargement de la page
            $('.quantity').each(function() {
                var quantityInput = $(this).find('[name="quantity-input"]');
                var totalElement = $(this).closest('tr').find('[name="total"]');
                var sugarElement = $(this).closest('tr').find('[data-qtsucre]');
                var sugarQuantity = parseFloat(sugarElement.attr('data-qtsucre'));
                calculateTotal(quantityInput, totalElement, sugarQuantity);
            });
    
            // Calculer et afficher la quantité totale de sucre au chargement de la page
            calculateTotalSugar();
    
            // Mettre à jour le total et la quantité totale de sucre lorsque la quantité est modifiée
            $('.btn-plus, .btn-minus').click(function() {
                var quantityInput = $(this).closest('.quantity').find('[name="quantity-input"]');
                var totalElement = $(this).closest('tr').find('[name="total"]');
                var sugarElement = $(this).closest('tr').find('[data-qtsucre]');
                var sugarQuantity = parseFloat(sugarElement.attr('data-qtsucre'));
                calculateTotal(quantityInput, totalElement, sugarQuantity);
                calculateTotalSugar();
            });
        });
        $(document).ready(function() {
            // Ajouter un gestionnaire d'événements click aux boutons de suppression
            $('.btn-delete').click(function() {
                // Obtenir l'ID du produit à supprimer
                var productId = $(this).attr('data-product-id');
    
                // Envoyer une requête AJAX pour supprimer le produit de la session
                $.ajax({
                    url: '/delete_product',
                    type: 'POST',
                    data: JSON.stringify({ id: productId }),
                    contentType: 'application/json',
                    success: function(response) {
                        // Supprimer la ligne du produit du tableau
                        $('#product-row-' + productId).remove();

                        // Mettre à jour le total et la quantité totale de sucre
                        calculateTotalSugar();
                    }
                });
            });
        });
    </script>

    </body>

</html>