<!DOCTYPE html>
<html lang="en">
<head>
    {% set titre="Produits" %}
    {% include("layout/head.html") %}
</head>
<body>
    <script src="static/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Spinner Start -->
    {% include("layout/spinner.html") %}
    <!-- Spinner End -->

    <!-- Navbar start -->
    {% include("layout/navbar.html") %}
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    {% include("layout/search.html") %}
    <!-- Modal Search End -->

    <!-- Single Page Header start -->
    {% set nom_page="Produits" %}
    {% include("layout/breadcrumb.html") %}
    <!-- Single Page Header End -->

    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Les produits</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <div class="col-6"></div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Categories</h4>
                                        <ul class="list-unstyled fruite-categorie">
                                            {% for categorie, total in total_produits_par_categorie.items() %}
                                                <li data-category-id="{{ categorie }}">
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>{{ categories[categorie] }}</a>
                                                        <span>({{ total }})</span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function(){
                                        $(".fruite-categorie li").on('click', function(e){
                                            e.preventDefault();
                                            var categoryId = $(this).data("category-id");
                                            $.ajax({
                                                url: "/produits/categorie/" + categoryId,
                                                type: "GET",
                                                headers: { 'X-Requested-With': 'XMLHttpRequest' },
                                                success: function(data){
                                                    $("#produits").html(data);
                                                    $('html, body').animate({ scrollTop: 0 }, 'fast');
                                                },
                                                error: function(jqXHR, textStatus, errorThrown){
                                                    console.log("Erreur AJAX : ", textStatus, errorThrown);
                                                }
                                            });
                                        });
                                    });
                                </script>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Sucre</h4>
                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="amount" min-velue="0" max-value="100" for="rangeInput">0</output>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center" id = "produits">
                                {% for produit in produits %}
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="static/img/{{produit.image}}" class="img-fluid w-100 rounded-top" alt="{{ produit.nom_produit }}">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ categories[produit.idCategorie] }}</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>{{ produit.nom.replace('_', ' ') | capitalize }}</h4>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <form action="/add_to_meal" method="POST">
                                                    <input type="hidden" name="produit.idProduit" value="{{ produit.idProduit }}">
                                                    <input type="hidden" name="produit.nom_produit" value="{{ produit.nom }}">
                                                    <input type="hidden" name="produit.qtsucre" value="{{ produit.qtsucre }}">
                                                    <input type="hidden" name="produit.idCategorie" value="{{ produit.idCategorie }}">
                                                    <input type="hidden" name="produit.image" value="{{ produit.image }}">
                                                    <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary btn-add"><i class="fas fa-utensils me-2 text-primary"></i> Ajouter au repas</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                    <!-- <div class="d-flex justify-content-start">
                                        {% for page_num in range(1, total_pages + 1) %}
                                            {% if page_num == current_page %}
                                                <a href="?page={{ page_num }}" class="btn btn-primary">{{ page_num }}</a>
                                            {% else %}
                                                <a href="?page={{ page_num }}" class="btn btn-secondary">{{ page_num }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div> -->
                                    <div class="d-flex justify-content-between w-100">
                                        <div class="d-flex justify-content-start">
                                            {% if prev_url %}
                                                <a href="{{ prev_url }}" class="pagination-link btn btn-secondary">⮜ Page précédente</a>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            {% if next_url %}
                                                <a href="{{ next_url }}" class="pagination-link btn btn-secondary">Page suivante ⮞</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <script>
                                $(document).ready(function(){
                                    $(document).on('click', '.pagination-link', function(e){
                                        e.preventDefault();
                                        var page = $(this).attr("href");
                                        console.log("Page demandée : " + page);
                                        $.ajax({
                                            url: page,
                                            type: "GET",
                                            headers: { 'X-Requested-With': 'XMLHttpRequest' },
                                            success: function(data){
                                                console.log("Données reçues : ", data);
                                                $("#produits").html(data);
                                                $('html, body').animate({ scrollTop: 0 }, 'fast'); 
                                            },
                                            error: function(jqXHR, textStatus, errorThrown){
                                                console.log("Erreur AJAX : ", textStatus, errorThrown);
                                            }
                                        });
                                    });
                                });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->

    <!-- Footer Start -->
    {% include("layout/footer.html") %}
    <!-- Footer End -->

    <!-- Copyright Start -->
    {% include("layout/copyright.html") %}
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

    <!-- JavaScript Libraries -->
    {% include("layout/script.html") %}
    
    <script>
        $(document).ready(function(){
            $(document).on('submit', 'form', function(e) {
                console.log("Form submitted");
                e.preventDefault();

                var $form = $(this);
                var data = {
                    nom_produit: $form.find('input[name="produit.nom_produit"]').val(),
                    idCategorie: $form.find('input[name="produit.idCategorie"]').val(),
                    qtsucre: $form.find('input[name="produit.qtsucre"]').val(),
                    image: $form.find('input[name="produit.image"]').val(),
                    idProduit: $form.find('input[name="produit.idProduit"]').val()
                };

                $.ajax({
                    url: $form.attr('action'),
                    type: "POST",
                    headers: { 
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json'  // Modifiez le type de contenu
                    },
                    data: JSON.stringify(data),  // Convertissez les données en JSON
                    success: function(response){
                        // handle success
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log("Erreur AJAX : ", textStatus, errorThrown);
                    }
                });
            });
        });

    </script>
    
    </body>
    </html>
</body>
</html>

