<!DOCTYPE html>
<html lang="en">
<head>
    {% set titre="Produits" %}
    {% include("layout/head.html") %}
</head>
<body>
    <script src="static/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




    <!-- Spinner Start -->
    {% include("layout/spinner.html") %}
    <!-- Spinner End -->

    <!-- Navbar start -->
    {% include("layout/navbar.html") %}
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    {% include("layout/search.html") %}
    <!-- Modal Search End -->

    <!-- Single Page Header start -->
    {% set nom_page="Produits" %}
    {% include("layout/breadcrumb.html") %}
    <!-- Single Page Header End -->

    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Les produits</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-xl-3">
                            <div class="input-group w-100 mx-auto d-flex">
                                <form id="searchForm" action="recherche" method="post">
                                    <div class="input-group">
                                        <input type="search" class="form-control p-3" name="keyword" placeholder="Rechercher un produit" aria-describedby="search-icon-1">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 rounded-pill text-white h-100">
                                                <i class="fa fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6"></div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3 mt-3">
                                        <h4>Categories</h4>
                                            {% if session["statut"] == "admin" %}
                                                <div class="d-flex justify-content-start mb-3">
                                                    <button class="btn btn-primary me-2" id = "bouton_ajout">Ajouter une catégorie</button>
                                                    <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal">Supprimer une catégorie</button>
                                                </div>
                                            {% endif %} 
                                            <!-- Modal -->
                                            <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form id="addCategoryForm" action="/add_category" method="post" enctype="multipart/form-data">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="addCategoryModalLabel">Ajouter une catégorie</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                            </div>
                                                            <div class="modal-body" id="categoryInputs">
                                                                <div class="mb-3">
                                                                    <label for="categoryName" class="form-label">Nom de la catégorie</label>
                                                                    <input type="text" class="form-control" id="categoryName" name="new_categorie[]">
                                                                    <!-- <button type="button" class="btn btn-danger btn-sm remove-category-button">Supprimer</button> -->
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <!-- <button type="button" class="btn btn-secondary" id="addMoreCategoriesButton">Ajouter plus de catégories</button> -->
                                                                <button type="submit" class="btn btn-primary">Ajouter</button>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if session["statut"]%}
                                                    <form action="update-info" method="POST" enctype="multipart/form-data">
                                                        <div class="d-flex justify-content-start mb-3">
                                                            <button class="btn btn-primary mb-3" onclick="showSection('ajoutProduit')">Ajouter un produit</button>
                                                        </div>
                                                    </form>
                                            {% endif %}

                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form id="deleteCategoryForm" action="/delete_category" method="post">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteCategoryModalLabel">Supprimer une catégorie</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="categoryToDelete" class="form-label">Nom de la catégorie</label>
                                                                    <select class="form-select" id="categoryToDelete" name="category_to_delete">
                                                                        {% for categorie in categories %}
                                                                            <option value="{{ categorie.idCategorie }}">{{ categorie.nom }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div> 
                                                            
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            
                                            <script>
                                                $(document).ready(function(){
                                                    // Ajouter une catégorie
                                                    $('#addMoreCategoriesButton').click(function() {
                                                        $('#categoryInputs').append('<div class="mb-3"><label for="categoryName" class="form-label">Nom de la catégorie</label><input type="text" class="form-control" name="category[]"><button type="button" class="btn btn-danger btn-sm remove-category-button">Supprimer</button></div>');
                                                    });
                                            
                                                    $('#bouton_ajout').click(function() {
                                                        $('#addCategoryModal').modal('show');
                                                    });
                                            
                                                    $('#deleteCategoryButton').click(function(e) {
                                                        e.preventDefault();
                                                    });

                                                    $('.btn-danger').click(function() {
                                                        $('#deleteCategoryModal').modal('show');
                                                    });
                                            
                                                    $(document).on('submit', '#addCategoryForm', function(e) {
                                                        e.preventDefault();
                                                        var $form = $(this);
                                                        var data = {
                                                            category: $form.find('input[name="new_categorie[]"]').map(function(){
                                                                return $(this).val();
                                                            }).get()
                                                        };
                                            
                                                        $.ajax({
                                                            url: $form.attr('action'),
                                                            type: "POST",
                                                            headers: {
                                                                'X-Requested-With': 'XMLHttpRequest',
                                                                'Content-Type': 'application/json'
                                                            },
                                                            data: JSON.stringify(data),
                                                            success: function(response) {
                                                                console.log("Success: ", response);
                                                            },
                                                            error: function(jqXHR, textStatus, errorThrown) {
                                                                console.log("Error: ", textStatus, errorThrown);
                                                            }
                                                            
                                                        });
                                                        location.reload();
                                                    });
                                                });
                                            </script>
                                            <script>
                                                $('#deleteCategoryForm').on('submit', function(event) {
                                                    event.preventDefault();
                                            
                                                    var data = $(this).serializeArray().reduce(function(obj, item) {
                                                        obj[item.name] = item.value;
                                                        return obj;
                                                    }, {});
                                            
                                                    $.ajax({
                                                        url: $(this).attr('action'),
                                                        type: 'post',
                                                        headers: {
                                                                'X-Requested-With': 'XMLHttpRequest',
                                                                'Content-Type': 'application/json'
                                                            },
                                                        data: JSON.stringify(data),
                                                        contentType: 'application/json',
                                                        success: function(response) {
                                                            // Fermer le modal
                                                            $('#deleteCategoryModal').modal('hide');
                                            
                                                            // Actualiser la liste des catégories ou faire autre chose
                                                        },
                                                        error: function(jqXHR, textStatus, errorThrown) {
                                                            console.log("Error: ", textStatus, errorThrown);
                                                        }
                                                        
                                                    });
                                                    location.reload();
                                                });
                                            </script>
                                        <ul class="list-unstyled fruite-categorie">
                                            {% for categorie in categories %}
                                                <li data-category-id="{{ categorie.idCategorie }}">
                                                    <div class="d-flex justify-content-between fruite-name">
                                                        <a href="#"><i class="fas fa-apple-alt me-2"></i>{{ categorie.nom.replace('_', '/') | capitalize  }}</a>
                                                        <span>({{ total_produits_par_categorie.get(categorie.idCategorie, 0) }})</span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            <form id="triForm" class="mb-3 mt-3">
                                                <h4>Quantité maximale de sucre (en g)</h4>
                                                    <div class="d-flex align-items-center">
                                                    <input type="text" id="maxSucre" name="maxSucre" class="form-control mr-2" >
                                                    <input type="submit" value="Trier" class="btn btn-primary">
                                                </div>
                                            </form>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function(){
                                        $(".fruite-categorie li").on('click', function(e){
                                            e.preventDefault();
                                            var categoryId = $(this).data("category-id");
                                            $.ajax({
                                                url: "/produits/categorie/" + categoryId,
                                                type: "GET",
                                                headers: { 'X-Requested-With': 'XMLHttpRequest' },
                                                success: function(data){
                                                    $("#produits").html(data);
                                                    $('html, body').animate({ scrollTop: 0 }, 'fast');
                                                },
                                                error: function(jqXHR, textStatus, errorThrown){
                                                    console.log("Erreur AJAX : ", textStatus, errorThrown);
                                                }
                                            });
                                        });
                                    });
                                </script> 
                                <script>
                                $(document).ready(function(){
                                    $("#triForm").on('submit', function(e){
                                        e.preventDefault();
                                        var maxSucre = parseFloat($("#maxSucre").val().replace(',', '.'));
                                        console.log(maxSucre)
                                        $.ajax({
                                            url: "/produits/sucre/" + maxSucre,
                                            type: "GET",
                                            headers: { 'X-Requested-With': 'XMLHttpRequest' },
                                            success: function(data){
                                                $("#produits").html(data);
                                                $('html, body').animate({ scrollTop: 0 }, 'fast');
                                            },
                                            error: function(jqXHR, textStatus, errorThrown){
                                                console.log("Erreur AJAX : ", textStatus, errorThrown);
                                            }
                                        });
                                    });
                                });
                                </script>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center" id = "produits">
                                {% set categories_dict = {} %}
                                {% for categorie in categories %}
                                    {% set _ = categories_dict.update({categorie.idCategorie: categorie}) %}
                                {% endfor %}
                                
                                {% for produit in produits %}
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img" style="height: 200px; overflow: hidden;">
                                                <img src="static/img/{{produit.image}}" class="img-fluid w-100 rounded-top" alt="{{ produit.nom_produit }}" style="object-fit: scale-down;">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ categories_dict[produit.idCategorie].nom.replace('_', '/') | capitalize }}</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>{{ produit.nom.replace('_', ' ') | capitalize }}</h4>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">{{ produit.qtsucre}}g/portion</p>
                                                    {% if session["idUtilisateur"] %}
                                                    <form action="/add_to_meal" method="POST">
                                                        <input type="hidden" name="produit.idProduit" value="{{ produit.idProduit }}">
                                                        <input type="hidden" name="produit.nom_produit" value="{{ produit.nom }}">
                                                        <input type="hidden" name="produit.qtsucre" value="{{ produit.qtsucre }}">
                                                        <input type="hidden" name="produit.idCategorie" value="{{ produit.idCategorie }}">
                                                        <input type="hidden" name="produit.image" value="{{ produit.image }}">
                                                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary btn-add">
                                                            <i class="fas fa-utensils me-2 text-primary"></i> Ajouter au menu
                                                        </button>
                                                        {% if session["statut"] == "admin" %}
                                                            <div class="d-flex justify-content-between mt-1">
                                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ produit.idProduit }}">
                                                                    <i class="bi bi-pencil-fill"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" data-id="{{ produit.idProduit }}" id="deleteProductButton">
                                                                    <i class="bi bi-trash-fill"></i>
                                                                </button>
                                                            </div>
                                                    </form>
                                                    {% endif %} 
                                                    {% endif %} 
                                                            <!-- Modal -->
                                                            
                                                            <div class="modal fade" id="editModal{{ produit.idProduit }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <form id="updateProductForm" action="/update_product" method="POST" enctype="multipart/form-data">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="editModalLabel">Éditer le produit</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                                <input type="hidden" name="update_idCategorie" value="{{ produit.idCategorie }}">
                                                                                <input type="hidden" name="update_idProduit" value="{{ produit.idProduit }}">
                                                                                <div class="mb-3">
                                                                                    <label for="nomProduit" class="form-label">Nom du produit</label>
                                                                                    <input type="text" class="form-control" id="nomProduit" name="update_nomProduit" value="{{ produit.nom }}">
                                                                                </div>
                                                                                <div class="mb-3">
                                                                                    <label for="qtsucre" class="form-label">Quantité de sucre</label>
                                                                                    <input type="text" class="form-control" id="qtsucre" name="update_qtsucre" value="{{ produit.qtsucre }}">
                                                                                </div>
                                                                                <div class="mb-3">
                                                                                    <label for="marque" class="form-label">Marque</label>
                                                                                    <input type="text" class="form-control" id="marque" name="update_marque" value="{{ produit.marque }}">
                                                                                </div>
                                                                                <div class="mb-3">
                                                                                    <label for="idCategorie" class="form-label">Catégorie</label>
                                                                                    <select class="form-select" name="update_categorie" id="monSelect">
                                                                                        <option selected disabled>{{categories_dict[produit.idCategorie].nom.replace('_', '/') }}</option>
                                                                                        <option value="1">goûter/dessert</option>
                                                                                        <option value="2">produits laitiers</option>
                                                                                        <option value="3">sauce</option>
                                                                                        <option value="4">fruits/légumes</option>
                                                                                        <option value="5">viande/poisson</option>
                                                                                        <option value="6">boisson</option>
                                                                                        <option value="7">féculents/céréales</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="mb-3">
                                                                                    <label class="form-label my-3">Image : </label>
                                                                                        <img src="static/img/{{ produit.image}}" alt="avatar" class="img-fluid mt-3" style="max-width: 150px; object-fit: fill;">
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit" class="btn btn-primary" >Sauvegarder les changements</button>
                                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                                                </div>
                                                                            
                                                                        </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                    <div class="d-flex justify-content-between w-100">
                                        <div class="d-flex justify-content-start">
                                            {% if prev_url %}
                                                <a href="{{ prev_url }}" class="pagination-link btn btn-secondary">⮜ Page précédente</a>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            {% if next_url %}
                                                <a href="{{ next_url }}" class="pagination-link btn btn-secondary">Page suivante ⮞</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <script>
                                $(document).ready(function(){
                                    $(document).on('click', '.pagination-link', function(e){
                                        e.preventDefault();
                                        var page = $(this).attr("href");
                                        console.log("Page demandée : " + page);
                                        $.ajax({
                                            url: page,
                                            type: "GET",
                                            headers: { 'X-Requested-With': 'XMLHttpRequest' },
                                            success: function(data){
                                                console.log("Données reçues : ", data);
                                                $("#produits").html(data);
                                                $('html, body').animate({ scrollTop: 0 }, 'fast'); 
                                            },
                                            error: function(jqXHR, textStatus, errorThrown){
                                                console.log("Erreur AJAX : ", textStatus, errorThrown);
                                            }
                                        });
                                    });
                                });
                                
                                </script>
                               <script>
                                $(document).ready(function(){
                                    $(document).on('submit', '#updateProductForm', function(e) {
                                        e.preventDefault();
                                
                                        console.log("Form submitted");
                                
                                        var $form = $(this);
                                        var data = {
                                            update_nomProduit: $form.find('input[name="update_nomProduit"]').val(),
                                            update_marque: $form.find('input[name="update_marque"]').val(),
                                            update_qtsucre: $form.find('input[name="update_qtsucre"]').val(),
                                            update_idCategorie: $form.find('input[name="update_idCategorie"]').val(),
                                            update_idProduit: $form.find('input[name="update_idProduit"]').val()
                                        };
                                
                                        $.ajax({
                                            url: $form.attr('action'),
                                            type: "POST",
                                            headers: {
                                                'X-Requested-With': 'XMLHttpRequest',
                                                'Content-Type': 'application/json'
                                            },
                                            data: JSON.stringify(data),
                                            success: function(response) {
                                                console.log("Success: ", response);
                                                location.reload();  // Ajoutez cette ligne
                                            },
                                            error: function(jqXHR, textStatus, errorThrown) {
                                                console.log("Error: ", textStatus, errorThrown);
                                            }
                                        });
                                    });
                                });
                                </script>
                                <script>
                                    document.querySelector('#deleteProductButton').addEventListener('click', function() {
                                        var idProduit = this.getAttribute('data-id');
                                
                                        fetch('/delete_produit/' + idProduit, {
                                            method: 'DELETE',
                                        })
                                        .then(response => response.json())
                                    });
                                
                                    $('#deleteProductButton').click(function(e) {
                                        e.preventDefault();
                                        location.reload()
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->

    <!-- Footer Start -->
    {% include("layout/footer.html") %}
    <!-- Footer End -->

    <!-- Copyright Start -->
    {% include("layout/copyright.html") %}
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

    <!-- JavaScript Libraries -->
    {% include("layout/script.html") %}

    
    </body>
    </html>
</body>
</html>

