<div style="display: none;">
    {% include("layout/navbar.html") %}
</div>

<div class="row g-4 justify-content-center" id = "produits">
    {% for produit in produits %}
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <img src="static/img/{{produit.image}}" class="img-fluid w-100 rounded-top" alt="{{ produit.nom_produit }}">
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ categories[produit.idCategorie] }}</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>{{ produit.nom.replace('_', ' ') | capitalize }}</h4>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">{{ produit.qtsucre}}g/portion</p>
                    <form action="/add_to_meal" method="POST">
                        <input type="hidden" name="produit.idProduit" value="{{ produit.idProduit }}">
                        <input type="hidden" name="produit.nom_produit" value="{{ produit.nom }}">
                        <input type="hidden" name="produit.qtsucre" value="{{ produit.qtsucre }}">
                        <input type="hidden" name="produit.idCategorie" value="{{ produit.idCategorie }}">
                        <input type="hidden" name="produit.image" value="{{ produit.image }}">
                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary btn-add"><i class="fas fa-utensils me-2 text-primary"></i> Ajouter au repas</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between w-100">
        <div class="d-flex justify-content-start">
            {% if prev_url %}
                <a href="{{ prev_url }}" class="pagination-link btn btn-secondary">Page précédente</a>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end">
            {% if next_url %}
                <a href="{{ next_url }}" class="pagination-link btn btn-secondary">Page suivante</a>
            {% endif %}
        </div>
    </div>
</div>
