<div style="display: none;">
    {% include("layout/navbar.html") %}
</div>

<div class="row g-4 justify-content-center" id = "produits">
    {% set categories_dict = {} %}
    {% for categorie in categories %}
        {% set _ = categories_dict.update({categorie.idCategorie: categorie}) %}
    {% endfor %}
    
    {% for produit in produits %}
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img" style="height: 200px; overflow: hidden;">
                    <img src="static/img/{{produit.image}}" class="img-fluid w-100 rounded-top" alt="{{ produit.nom_produit }}" style="object-fit: scale-down;">
                </div>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ categories_dict[produit.idCategorie].nom.replace('_', '/') | capitalize }}</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>{{ produit.nom.replace('_', ' ') | capitalize }}</h4>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">{{ produit.qtsucre}}g/portion</p>
                    <form id="addMealForm" action="/add_to_meal" method="POST ">
                        <input type="hidden" name="produit.idProduit" value="{{ produit.idProduit }}">
                        <input type="hidden" name="produit.nom_produit" value="{{ produit.nom }}">
                        <input type="hidden" name="produit.qtsucre" value="{{ produit.qtsucre }}">
                        <input type="hidden" name="produit.idCategorie" value="{{ produit.idCategorie }}">
                        <input type="hidden" name="produit.image" value="{{ produit.image }}">
                        {% if session["idUtilisateur"] %}
                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary btn-add">
                            <i class="fas fa-utensils me-2 text-primary"></i> Ajouter au menu
                        </button>
                        {% if session["statut"] == "admin" %}
                            <div class="d-flex justify-content-between mt-1">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ produit.idProduit }}">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            <button type="button" class="btn btn-danger" data-id="{{ produit.idProduit }}" id="deleteProductButton">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                            </div>
                    </form>
                    {% endif %}
                    {% endif %} 
                            <!-- Modal -->
                            
                            <div class="modal fade" id="editModal{{ produit.idProduit }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form id="updateProductForm" action="/update_product" method="POST" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Éditer le produit</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                        </div>
                                        <div class="modal-body">
                                                <input type="hidden" name="update_idCategorie" value="{{ produit.idCategorie }}">
                                                <input type="hidden" name="update_idProduit" value="{{ produit.idProduit }}">
                                                <div class="mb-3">
                                                    <label for="nomProduit" class="form-label">Nom du produit</label>
                                                    <input type="text" class="form-control" id="nomProduit" name="update_nomProduit" value="{{ produit.nom }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="qtsucre" class="form-label">Quantité de sucre</label>
                                                    <input type="text" class="form-control" id="qtsucre" name="update_qtsucre" value="{{ produit.qtsucre }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="marque" class="form-label">Marque</label>
                                                    <input type="text" class="form-control" id="marque" name="update_marque" value="{{ produit.marque }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="idCategorie" class="form-label">Catégorie</label>
                                                    <select class="form-select" name="update_categorie" id="monSelect">
                                                        <option selected disabled>{{categories_dict[produit.idCategorie].nom.replace('_', '/') }}</option>
                                                        <option value="1">goûter/dessert</option>
                                                        <option value="2">produits laitiers</option>
                                                        <option value="3">sauce</option>
                                                        <option value="4">fruits/légumes</option>
                                                        <option value="5">viande/poisson</option>
                                                        <option value="6">boisson</option>
                                                        <option value="7">féculents/céréales</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label my-3">Image : </label>
                                                    <img src="static/img/{{ produit.image}}" alt="avatar" class="img-fluid mt-3" style="max-width: 150px;">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Sauvegarder les changements</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                </div>
                                            
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="d-flex justify-content-between w-100">
        <div class="d-flex justify-content-start">
            {% if prev_url %}
                <a href="{{ prev_url }}" class="pagination-link btn btn-secondary">⮜ Page précédente</a>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end">
            {% if next_url %}
                <a href="{{ next_url }}" class="pagination-link btn btn-secondary">Page suivante ⮞</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#addMealForm').on('submit', function(e) {
            console.log("Form submitted");
            e.preventDefault();

            var $form = $(this);
            var data = {
                nom_produit: $form.find('input[name="produit.nom_produit"]').val(),
                idCategorie: $form.find('input[name="produit.idCategorie"]').val(),
                qtsucre: $form.find('input[name="produit.qtsucre"]').val(),
                image: $form.find('input[name="produit.image"]').val(),
                idProduit: $form.find('input[name="produit.idProduit"]').val()
            };

            $.ajax({
                url: $form.attr('action'),
                type: "POST",
                headers: { 
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json'  // Modifiez le type de contenu
                },
                data: JSON.stringify(data),  // Convertissez les données en JSON
                success: function(response){
                    // handle success
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("Erreur AJAX : ", textStatus, errorThrown);
                }
            });
        });
    });
</script>
<script>
    document.querySelector('#deleteProductButton').addEventListener('click', function() {
        var idProduit = this.getAttribute('data-id');

        fetch('/delete_produit/' + idProduit, {
            method: 'DELETE',
        })
        .then(response => response.json())
    });

    $('#deleteProductButton').click(function(e) {
        e.preventDefault();
        location.reload()
    });
</script>