<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
        <title>Produits</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="static/css/style.css" rel="stylesheet">

        <!--Icone-->
        <link rel ="icon" type="image/png" href="static/img/logo.png">
</head>
<body>
    <script src="static/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<script src="\static\js\scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">7 Av. Edouard Belin, Toulouse</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">sugartracker@gmail.com</a></small>
            </div>
        </div>
    </div>

    <style>
        .nav-item, .spaced-element {
            margin-right: 20px;  /* Ajoutez une marge à droite de chaque élément de navigation */
        }
        </style>


<!-- test -->
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl mx-auto">               
            <a href="/" class="navbar-brand"><h1 class="text-primary display-6">Sugar Tracker</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>

            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/produits" class="nav-item nav-link">Produits</a>
                    <a href="/recettes" class="nav-item nav-link">Recettes</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <a href="/menu" class="dropdown-item">Menu</a>
                            <a href="/chackout" class="dropdown-item">Chackout</a>
                            <a href="/testimonial" class="dropdown-item">Testimonial</a>
                            <a href="/404" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="/webmaster" class="nav-item nav-link">Webmasters</a>
                </div>
                
                <style>
                .spaced-element {
                    margin-left: 20px;  /* Ajoutez une marge à gauche de chaque élément avec la classe .spaced-element */
                }
                </style>

                
                    
                        <a href="/admin" class="btn btn-primary">Admin</a>
                    
                

                    <button type="button" class="dropbtn spaced-element" data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="fas fa-search text-primary"></i>
                    </button>               
                
                
                <a href="/menu" class="position-relative me-4 my-auto spaced-element">
                    <i class="fas fa-utensils fa-2x"></i>
                    <span class="product-count position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 26px; height: 20px; min-width: 20px;">2</span>
                </a>
                <style>
                .dropdown-content {
                    display: none; /* Masquez le menu déroulant par défaut */
                    width: 200px; /* Ajustez la largeur du menu déroulant */
                    left: 50%; /* Positionnez le menu déroulant au milieu de l'icône */
                    transform: translateX(-50%); /* Utilisez la transformation pour centrer parfaitement le menu déroulant */
                    background-color: #679d06; /* Changez le fond en vert */
                    align-items: center; /* Centrez le texte verticalement */
                    justify-content: center; /* Centrez le texte horizontalement */
                    flex-direction: column; /* Alignez le texte verticalement */
                }
                .dropdown-content a {
                    color: white; /* Changez la couleur du texte en noir */
                    text-align: center; /* Centrez le texte horizontalement */
                }
                .dropdown:hover .dropdown-content {
                    display: flex; /* Affichez le menu déroulant lorsque vous passez la souris dessus */
                }
                </style>
                
                
                    <div class="dropdown spaced-element">
                        <a href="/compte" class="my-auto">
                            <img src="static/img/avatar6.png" alt="Avatar" style="width: 30px;">
                            <span>admin admin</span>
                            <div class="dropdown-content">
                                <a href="/logout">Se déconnecter</a>
                            </div>
                        </a>
                    </div>
                

                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.btn-add').click(function(event) {
            event.preventDefault();
    
            var formElement = $(this).closest('form');
            var nom_produit = formElement.find('input[name="produit.nom_produit"]').val();
            var idCategorie = formElement.find('input[name="produit.idCategorie"]').val();
            var qtsucre = formElement.find('input[name="produit.qtsucre"]').val();
            var image = formElement.find('input[name="produit.image"]').val();
            var idProduit = formElement.find('input[name="produit.idProduit"]').val();

            $.ajax({
                url: '/add_to_meal',
                type: 'POST',
                data: JSON.stringify({
                    nom_produit: nom_produit,
                    idCategorie: idCategorie,
                    qtsucre: qtsucre,
                    image: image,
                    idProduit: idProduit
                }),
                contentType: 'application/json',
                success: function(response) {
                    $('.product-count').text(response.productCount);
                }
            });
        });

        $('.btn-delete').click(function(event) {
            event.preventDefault();
    
            var formElement = $(this).closest('form');
            var idProduit = formElement.find('input[name="produit.idProduit"]').val();

            $.ajax({
                url: '/delete_product',
                type: 'POST',
                data: JSON.stringify({ id: idProduit }),
                contentType: 'application/json',
                success: function(response) {
                    console.log("Produit supprimé avec succès !, idProduit = " + idProduit);
                    // Supprimer la ligne du produit du tableau
                    $('#product-row-' + idProduit).remove();
                    // Mettre à jour le nombre de produits
                    $('.product-count').text(response.productCount - 1);
                }
            });
        });
    });
</script>
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <form id="searchForm" action="votre_page_de_resultats" method="post">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="text" class="form-control p-3" name="keyword" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>  
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
                </form>
        </div>
    </div>
</div>
    <!-- Modal Search End -->
    

    <!-- Single Page Header start -->
    
    <div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Produits</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active text-white">Produits</li>
    </ol>
</div>
    <!-- Single Page Header End -->

                    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">Fruitables</h1>
                        <p class="text-secondary mb-0">Fresh products</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Why People Like us!</h4>
                    <p class="mb-4">typesetting, remaining essentially unchanged. It was 
                        popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Shop Info</h4>
                    <a class="btn-link" href="">About Us</a>
                    <a class="btn-link" href="">Contact Us</a>
                    <a class="btn-link" href="https://www.youtube.com/watch?v=cj4oLPhLaTw" target="_blank">Privacy Policy</a>
                    <a class="btn-link" href="">Terms & Condition</a>
                    <a class="btn-link" href="">Return Policy</a>
                    <a class="btn-link" href="">FAQs & Help</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Compte</h4>
                    <a class="btn-link" href="/compte">Mon compte</a>
                    
                        
                
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>7 Av. Edouard Belin, Toulouse</p>
                    <p>Email: sugartracker@gmail.com</p>
                    <p>Phone: +0123 4567 8910</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/lightbox/js/lightbox.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Template Javascript -->
<script src="static/js/main.js"></script>

    
    </body>
    </html>
</body>
</html>